<!doctype html>

<html ng-app="MenuApp">

<head>

<meta charset="utf-8">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"> </script>

<script src="app.js"> </script>

</head>

<body>

	<h1>Directives with Isolate Scope and '&'</h1>

    <!-- LIST #1 - unlimited items -->
    <div id="list" ng-controller='MenuController as list'>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
      <button ng-click="list.test();">Add Item</button>
      
	  <!-- 
	  
	  <span>{{ list.lastRemoved }}</span>

      <shopping-list
        items="list.items"
        title="{{list.title}}"
        bad-remove="list.removeItem"
        on-remove="list.removeItem(index)"></shopping-list>
		-->

    </div>
	
</body>


</html>
